nav {
  font-family: Pirata One, Lobster, Monotipe;
  font-size:1.8em;
}

body {    
  font-family: Impact, sans-serif;
  #color: white;
  #background-image: url('Rain.jpg');
}

.body-width {
  width: 1000px;
  height: auto;
  margin: auto;
  border: 3px solid #28a745;

}

.pros-cons {
  max-width: 800px;
  height: 500px;
  margin: auto;
  #Sborder: 1px solid #007bff;

}

ul.square {
  list-style-type: square;
  font-family: Tahoma, Monotipe;
  font-size:0.8em;
  width: 650px; 

}

div.also {
  width:900px;
  margin: auto;
  padding: 15px;
}

div.upd-mod {
  width:auto;
  margin:auto;
  padding: 15px;
}

div.profile {
  width: 100%;
  height: 350px;
  margin: 20px 120px auto 0px;
  padding: auto;
}

.alignleft {
  float: left;
}

.alignright {
  float: right;
}

.inline-block {
  display: inline-block;
  width: 200px;
  height: auto;
  margin: 1em;
}

p {
  font-family: Tahoma, Monotipe;
  font-size:0.8em;  
}  

.ghost {
  font-style:normal;
  color:#888
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 40%;
    border-radius: 5px;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
    padding: 2px 16px;
    display: flex;
    justify-content: space-between;
}

img {
    border-radius: 5px 5px 5px 5px;
}

img.avatar {
  display:block;  
  height: 350px;     
  border-radius:80%;  
  margin: 20px auto auto 20px;
}

.small-img {
    display:block;
    width: 150px;
  }

.middle-img {
    display:block;
    width: 600px;
  }

li span {
background: gold;
}

.btn {
    font-family: Tahoma;
}

hr.seprt0 {
  height: 10px;
  border: 0;
  box-shadow: 0 10px 10px -10px #8c8b8b inset;
}

hr.seprt { 
  border: 0; 
  height: 2px; 
  background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0); 
}

.box-auth {
  margin: 10% auto auto auto;
  padding: 40px;
  max-width: 40%;     
  background-color: #13232f;  
  border-radius: 4px;  
  color: #ffffff;
}

.box-ins {
  padding:0;
  margin:0 0 40px 0;
}

h3.new {
  display:block;  
  padding:15px;
  background:#1ab188;
  color:#ffffff;
  font-size:20px;  
  width:100%;
  text-align:center;  
}

.field-wrap {
  position:relative;
  margin-bottom:40px;
}

.button {
  border:0;   
  padding:15px 0;
  font-size:2rem;
  font-weight: bold;
  text-transform:uppercase;
  letter-spacing:.1em;
  background:#1ab188;
  color: #ffffff;
  transition:all.5s ease;
  cursor: pointer;    
}

.button-profile {
  border:0;   
  padding:5px 0;
  font-size:2rem;
  font-weight: bold;  
  background:#1ab188;
  color: #ffffff;
  transition:all.5s ease;
  cursor: pointer;
  width:100%;
  display:block;    
}

.button-block {
  display:block;
  width:100%;
}

.forgot {
  margin-top:-20px;
  text-align:center;
  color:#1ab188;
}

a.new {
  color: #1ab188;  
}

.rating {
  unicode-bidi: bidi-override;
  direction: rtl;
}
.rating > span {
  display: inline-block;
  position: relative;
  width: 1.1em;
}
.rating > span:hover:before,
.rating > span:hover ~ span:before {
   content: "\2605";
   position: absolute;
}

.hidden {
  display: none;
}

/* Vue.js fade */
.fade-enter-active, .fade-leave-active {
  transition: opacity .5s
}
.fade-enter, .fade-leave-to {
  opacity: 0
}



