nav {
  font-family: Pirata One, Lobster, Monotipe;
  font-size:1.8em;
}

body {    
  font-family: Impact, sans-serif;
  #color: white;
  #background-image: url('Rain.jpg');
}

.body-width {
  width: 1000px;
  #min-height: 500px;
  margin: auto;
  border: 3px solid #28a745;

}

.pros-cons {
  max-width: 800px;
  height: 500px;
  margin: auto;
  #Sborder: 1px solid #007bff;

}

ul.square {
  list-style-type: square;
  font-family: Tahoma, Monotipe;
  font-size:0.8em;
  width: 650px; 

}

.container {
  display: flex;
  justify-content: space-between;
}

div.also {
  width:900px;
  margin: auto;
}

.inline-block {
  display: inline-block;
  width: 200px;
  height: 100px;
  margin: 1em;
}

p {
  font-family: Tahoma, Monotipe;
  font-size:0.8em;  
}  

.ghost {
  font-style:normal;
  color:#888
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 40%;
    border-radius: 5px;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
    padding: 2px 16px;
}

img {
    border-radius: 5px 5px 0 0;
}

.small-img {
    display:block;
    width: 150px;
  }

.middle-img {
    display:block;
    width: 600px;
  }

li span {
background: gold;
}

.btn {
    font-family: Helvetica;
}

hr.seprt0 {
  height: 10px;
  border: 0;
  box-shadow: 0 10px 10px -10px #8c8b8b inset;
}

hr.seprt { 
  border: 0; 
  height: 2px; 
  background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0); 
}